<div class="container py-5">
  <div>
    <div class="container py-5">
      <div class="row mb-4">
        <h1 class="cover-heading">Where does it come from?</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            @for(card of cards; track card.cardOwner){
            <tr>
              <td>{{ card.name }}</td>
              <td>{{ card.email }}</td>
              <td>{{ card.phoneNumber }}</td>
              <td>{{ card.amount }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
