<div class="container py-5">
  <div>
    <div class="container py-5">
      <div class="row mb-4">
        <h1 class="cover-heading">Where does it come from?</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Card Owner</th>
              <th scope="col">Card Number</th>
              <th scope="col">Exp Date</th>
              <th scope="col">CVV</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            @for(card of cards; track card.cardOwner){
            <tr>
              <td>{{ card.cardOwner }}</td>
              <td>{{ card.cardNumber }}</td>
              <td>{{ card.ExpDateMM }} / {{ card.ExpDateYY }}</td>
              <td>{{ card.CVV }}</td>
              <td>{{ card.amount }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
