<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Payment Service
            </h6>
            <p>
              Just a simple payment service app using Angular, Laravel and Stripe
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/" class="text-reset">Home Page</a>
            </p>
            <p>
              <a href="/donate" class="text-reset">Donate</a>
            </p>
            <p>
              <a href="/contact" class="text-reset">Contact Page</a>
            </p>
            <p>
              <a href="/about" class="text-reset">About Page</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <a href="https://hassanismail11.github.io/" class="fas fa-home me-3">Website</a>
            <p>
              <a href="mailto:hihassanismail11@gmail.com" class="fas fa-envelope me-3">hihassanismail11&#64;gmail.com</a>
            </p>
            <p><i class="fas fa-phone me-3"></i> 01149949175</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.5);">
      ~ Made with ❤️ and ☕️ ~  
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->